h1{
    color: blue;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

h2{
    border: 1px solid blue;
    background-color: gray;
}
p{
    font-style: italic;
}
h3{
    color: red;
}